<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="DBConnStr" connectionString="DATABASE=northwind;Server=localhost,1433;User ID=sa;Password=cindy123;Pooling=true;Max Pool Size=500;Min Pool Size=5;Connection Timeout=600;" providerName="SQL Server"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
